<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row about-me-content">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 image-holder">
            <img class="photo" src="../../assets/images/iben.jpg" alt="Iben Van de Veire">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 about-me">
            <h1>The man behind the moustache</h1>
            <p>What can I say ? I just love curly brackets, I had to get one on my face! Now, let's get serious for a minute. My name is <strong>Iben Van de Veire</strong> , I'm a {{age}} years old <strong>front-end/hybrid and part-time game developer</strong> with a mission. And that mission is as simple as it is elegant : <strong>make every project interesting!</strong></p>
            <p>My biggest strength in life is that there's very little that can't fascinate me. Whether it's music, architecture, new technologies or an interesting conversation about politics, it's all right with me! Creative and interesting projects hook me in their own special way, and I'm always on the lookout for the next challenge.</p>
            <p>
            Educated in the fields of <strong>web, mobile and 3D-design</strong>, I might be a great asset to your next project. Interested? Feel free to contact me by sending me an email by clicking on the mail-icon to your left!
            </p>
        </div>
    </div>
    <div class="row work">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Experience</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="../../assets/images/logo_jfd.png" alt="JFD">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Jagged Fang Designs</h3>
                            <small>(2012 - 2016)</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>3D-Environment Artist</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="../../assets/images/logo_kbc.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>KBC</h3>
                            <small>(2016)</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Internship C# and COBOL</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="../../assets/images/logo_appreciate.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Appreciate</h3>
                            <small>(2016 - ...)</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Junior Front-End & Hybrid Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            &nbsp;
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>References</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="../../assets/images/ref_reinout.png" alt="Reinout Bossuyt">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Reinout Bossuyt</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>CultuurNet</p>
                            <p><a href="mailto:reinout@cultuurnet.be"><i  class="fa fa-envelope" aria-hidden="true"></i>
</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="../../assets/images/ref_alex.png" alt="Alex Dierickx">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Alex Dierickx</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Appreciate</p>
                            <p><a href="mailto:alex.dierickx@gmail.com"><i  class="fa fa-envelope" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="../../assets/images/ref_steven.png" alt="Steven Latré">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Steven Latré</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>iMinds</p>
                            <p><a href="mailto:steven.latre@uantwerpen.be"><i  class="fa fa-envelope" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row skills">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Skills</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Web</h3>
                        </div>
                    </div>
                    <div *ngFor="let item of web" class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="{{item.image}}" alt="{{item.name}}">
                            <p>{{item.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Mobile</h3>
                        </div>
                    </div>
                    <div *ngFor="let item of mobile" class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="{{item.image}}" alt="{{item.name}}">
                            <p>{{item.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Desktop</h3>
                        </div>
                    </div>
                    <div *ngFor="let item of desktop" class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="{{item.image}}" alt="{{item.name}}">
                            <p>{{item.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3>Games</h3>
                        </div>
                    </div>
                    <div *ngFor="let item of games" class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img class="image-small" src="{{item.image}}" alt="{{item.name}}">
                            <p>{{item.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
