<div class="row">
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 nav-col">
        <ul class="nav nav-stacked">
            <li routerLink="/home"><span class="glyphicon glyphicon-home"></span>
            </li>
             <li routerLink="/about" ><span  class="glyphicon glyphicon-user"></span>
            </li>
            <li  (click)="open('https://www.linkedin.com/in/ibenvandeveire/')" >
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </li>
            <li (click)="open('mailto:ibenvandeveire@gmail.com')">
                <i  class="fa fa-envelope" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 main-content" [ngStyle]="{height:height+'px'}">
        <router-outlet></router-outlet>
    </div>
</div>
