.content {
    padding: 0px;
    height: 100%;
}

list{
    border-top: 2px solid #14191e;
}

detail{
    height: 100%;
}

.list-block{
    text-align: center;
    background: #14191e;
    overflow-y: scroll;
}
